@import 'tailwindcss';

@layer base {
	body {
		@apply text-base;
		font-family: var(--font-fonetika), sans-serif;
	}
}

@theme {
	/* font-families */
	--font-fonetika: var(--font-fonetika), sans-serif;
	/* colors */
	--color-ocean-glow: #5271ff;
	--color-orange-red: #f6643f;
	--color-pale-azure: #f2f4f8;
	--color-black: #000;
	--color-semi-transparent-black: rgba(0, 0, 0, 0.5);
	--color-white: #fff;
	--color-snow-white: #fdfbfb;
	--color-translucent-white: #ffffffb5;
	--color-froasted-glass: rgba(255, 255, 255, 0.12);
	--color-light-gray: #dbdbdb;
	--color-soft-gray: #E8E8E8;
	--color-dark-gray: #323232;
	--color-slate-gray: #475467;
	--color-light-smoke: rgba(0, 0, 0, 0.1);
	--color-muted-gray : #868686;
	--color-green : #2FA33A;


	/* font sizes */

	/* --text-page-heading: 70px;
  --text-page-heading--line-height: 100%;
  --text-page-heading--letter-spacing: -2.8px;
  --text-page-heading--font-weight: 600; */

	/* --text-h3: 42px;
  --text-h3--line-height: normal;
  --text-h3--letter-spacing: -1.68px;
  --text-h3--font-weight: 500; */

	/* line height */
	--leading-normal: normal;
}
